GitTest/Intermediate/CachedAssetRegistry.bin
GitTest/Intermediate/ReimportCache/3688439234.bin
GitTest/Intermediate/ReimportCache/3688439234.bin
GitTest/Intermediate/CachedAssetRegistry.bin
GitTest/Intermediate/CachedAssetRegistry.bin