Intermediate/Build/BuildRules/Git2ElectricBoogalooEditorModuleRulesSourceFiles.txt
Intermediate/Build/ActionHistory.bin
Intermediate/
Saved/
DerivedDataCache/
*.sln
*.suo
*.sdf
Git2ElectricBoogaloo.opensdf